*{
    padding: 0%;
    margin: 0%;
}

:root {
    --main-bg-color: #e0f7f9;
    --primary-color: #4e44ff;
    --text-color: #333;
    --secondary-text-color: #666;
    --button-hover-color: #3d34d9;
}

.border-container {
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.main-container {
    background-color: white;
    width: 800px;
    max-width: 100%;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}

.main-icon-container {
    flex: 1;
    display: flex;
    justify-content: center;
    border-right: 2px solid;
}

.contact-info {
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    text-align: center;
    justify-content: center;
    align-items: center;
}

.info-item {
    display: flex;
    /* gap: 10px; */
    align-items: start;
    justify-content: center;
    text-align: center;
    padding-top: 20px;

}

i {
    font-size: 1.5rem;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    text-align: center;
}

.details h6 {
    font-weight: bold;
    font-size: 1rem;
    color: var(--text-color);
    text-align: center;
}

.details p {
    font-size: 0.85rem;
    color: var(--secondary-text-color);
    text-align: center;
}

.vertical-bar {
    width: 2px;
    height: 100%;
    background-color: #2e1f1f;
}

.main-contact-us-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.contact-us-text h2 {
    font-size: 1.5rem;
    color: var(--primary-color);
}

.contact-us-text p {
    font-size: 0.9rem;
    color: var(--secondary-text-color);
}


.contact-us-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-us-form input,
.contact-us-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9rem;
    background-color: #c4bfbf;
}

.contact-us-form textarea {
    height: 100px;
}

.contact-us-form button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.contact-us-form button:hover {
    background-color: var(--button-hover-color);
}

button{
    width: 150px;
}